nav-wrapper() {
  .nav-wrapper {
    display flex
    justify-content center
    .box-wrapper {
      position relative
      padding 0 28px
      height 36px;
      line-height 22px
      text-align center
      font-size 16px
      font-weight bold
      color #444
      .line {
        display none
        position absolute
        bottom 6px
        left 50%
        width 16px
        height 2px
        background-color #42b983
        transform translateX(-50%)
      }
      &.active {
        .line {
          display block
        }
        .text {
          color #42b983
        }
      }
    }
  }
}

.header-outer-wrapper {
  box-shadow 0 0 10px 0px #cecece
  .header-wrapper {
    position relative
    width 1100px
    margin 0 auto
    padding-top 8px
    .title-wrapper {
      display flex
      .logo-address {
        flex 0 0 320px
        height 80px
        line-height 80px
        font-size 0
        .logo-img {
          display inline-block
          width 100px
          height 60px
          vertical-align middle
        }
        .line {
          display inline-block
          width 1px
          height 16px
          background-color #999
          margin 0 16px
          vertical-align middle
        }
        .address {
          display inline-block
          height 22px
          line-height 22px
          vertical-align middle
          .addr-logo {
            width 18px
            height 18px
            vertical-align middle
          }
          .text {
            display inline-block
            vertical-align middle
            font-size 16px
            color #666
          }
          .addr-next {
            width 12px
            height 12px
            vertical-align middle
          }
        }
      }
      .search-wrapper {
        flex 1
        .search-input {
          display flex
          height 36px
          line-height 36px
          padding-top 10px
          .input-wrapper {
            flex 1
            padding 0 8px
            display flex
            border 1px solid #ddd
            border-right 0
            border-bottom-left-radius 4px
            border-top-left-radius 4px
            .search-logo {
              position relative
              top 8px
              width 20px
              height 20px
              vertical-align middle
            }
            .input {
              height inherit
              line-height inherit
              vertical-align middle
              padding 0 14px
            }
          }
          .button {
            flex 0 0 100px
            height inherit
            line-height inherit
            text-align center
            background-color #42b983
            color #fff
            border-bottom-right-radius 4px
            border-top-right-radius 4px
          }
        }
        .hot-search {
          margin-top 4px
          .box {
            display inline-block
            margin-right 18px
            font-size 12px
            color #999
          }
        }
      }
      .empty-wrapper {
        flex 0 0 240px
      }
    }

    nav-wrapper()
  }
  .qrcode-img {
    position absolute
    right 0
    top 20px
    img {
      height 86px
      width 60px
    }
  }
}

.poster-wrapper {
  text-align center
  background-color beige
  img {
    margin 0 auto
  }
}


.college-wrapper {
  position relative
  width 1100px
  margin 0 auto
  padding 66px 0 30px 0
  .content-wrapper {
    display flex
    margin-top 26px
    .active-collage {
      flex 0 0 380px
      .image {
        width 100%
        height 467px
        border-radius 6px
      }
      .line-wrapper {
        height 30px
        line-height 30px
        .line {
          display inline-block
          width 100%
          height 4px
          vertical-align middle
          background-color #42b983
        }
      }
    }
    .wrapper {
      flex 1
      padding-left 25px
      overflow hidden
      .collage-name {
        display flex
        padding 12px 0
        .name {
          line-height 22px
          .CH {

          }
          .eng {
            font-size 12px
            color #999
          }
        }
        .logo {
          flex 1
          .img {
            width 30px;
            height 40px
          }
        }
      }
      .settop-card {
        margin-top 22px
        line-height 26px
        .title {
          color #42b983
        }
        .card-wrapper {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color #999
        }
      }
      .collage-list {
        display flex
        margin-top 18px
        margin 18px -10px 0 -10px
        .collage-box {
          flex 1
          padding 0 10px
          .img {
            width 100%
            height 280px
            border-radius 4px
          }
          .name {
            text-align center
            line-height 30px
            color #999
            font-weight bold
          }
        }
      }
    }
  }
}


.durian-wrapper {
  position relative
  padding 66px 0
  background-color #eee
  .durian-inner {
    width 1100px
    margin 0 auto
    .content-wrapper {
      display flex
      margin 22px -10px
      .type-wrapper {
        flex 1
        position relative
        padding 0 10px 0 10px
        overflow hidden
        .bg-wrapper {
          padding-top 60%
          margin-bottom 46%
          background-image url("../../assets/timg.jpg")
          background-size cover
          background-position center center
          border-radius 6px
        }
        .inner-box {
          position absolute
          top 20%
          left 0
          padding 0 22px
          width 100%
          box-sizing border-box
          .title {
            font-size 20px
            font-weight bold
            color #fff
          }
          .sub {
            margin 15px 0 20px 0
            color #fff
          }
          .detail-wrapper {
            padding 6px 12px
            background-color #fff
            border-radius 8px
            box-shadow 0 0 12px 0 #ccc
            .detail {
              line-height 42px
              overflow hidden
              text-overflow ellipsis
              white-space nowrap
              color #999
              border-bottom 1px dashed #ddd
              &:last-of-type {
                border-bottom 0
              }
            }
          }
        }
      }
    }
  }
}

.life-wrapper {
  position relative
  padding 66px 0 66px 0
  .life-inner {
    width 1100px
    margin 0 auto
  }
  nav-wrapper()
  .nav-wrapper {
    margin-top 18px
  }
  .content-wrapper {
    display flex
    margin 18px -10px 0 -10px
    .item-wrapper {
      flex 1
      padding 0 10px
      .item-inner {
        position relative
        border-radius 6px
        box-shadow 0 4x 18px 0px #d8ffed
        overflow hidden
        .poster-image {
          padding-top 55%
          background-image url("../../assets/timg.jpg")
          background-size cover
          background-position center center
        }
        .info-wrapper {
          padding 16px
          .title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color #666
          }
          .number {
            margin 14px 0 18px 0
            font-size 12px
            color #aaa
          }
          .money {
            .pound {
              color #42b983
              font-size 19px
              font-weight bold
              .mini {
                font-size 12px
              }
            }
            .rmb {
              color #aaa
              font-size 12px
            }
          }
        }
        &:hover {
          .hover-wrapper {
            opacity 1
            .detail-wrapper {
              .text {
                margin-top 6px
              }
            }
          }
        }
        .hover-wrapper {
          position absolute
          top 0
          bottom 0
          left 0
          right 0
          background-color rgba(0, 0, 0, 0.4)
          text-align center
          transition all .2s linear
          opacity 0
          .detail-wrapper {
            margin-top 50px
            .image {
              width 100px
              height 100px
            }
            .text {
              margin-top 16px
              line-height 24px
              font-weight bold
              color #fff
              transition all .2s linear
            }
          }
        }
      }
    }
  }
}

.tuition-wrapper {
  position relative
  padding 66px 0 66px 0
  background-color #eee
  .tuition-inner {
    width 1100px
    margin 0 auto
    .content-wrapper {
      display flex
      margin 0 -10px
      .item-wrapper {
        flex 1
        padding 0 10px
        .item-inner {
          position relative
          padding-top 100%
          background-color #fff
          border-radius 6
          transition all .3s linear
          &:hover {
            background-color #e0f3ea
          }
          .detail-wrapper {
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            display inline-block
            text-align center
            .img {
              .image {
                width 40px
                height 40px
              }
            }
            .line-wrapper {
              margin 22px 0 12px 0
              font-size 0
              .line {
                display inline-block
                width 24px
                height 3px
                background-color #999
              }
            }
            .text-wrapper {
              line-height 26px
              .text {
                white-space nowrap
              }
            }
            .button-wrapper {
              .button {
                line-height 36px
                background-color rgba(0, 0, 0, 0)
                color #42b983
                font-size 16px
                font-weight bold
              }
            }
          }
        }
      }
    }
  }
}

.overseas-wrapper {
  position relative
  padding 66px 0 66px 0








}
