$pc-width = 1200px
//侧边栏宽度
$slider-width = 280px
//项目主颜色
$common-color = #3BD6BD
//红色(置顶...)
$red-color = #FD5F5F
//浅灰色(副标题)
$sub-color = #999999
// 橙色(悬赏)
$orange-color = #F89D02
//weight
$normal-weight = 400
$bold-weight = 700

//多行溢出显示省略号
ell() {
  display: -webkit-box;
  display: -moz-box;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap
}
ell2(row = 2) {
  display: -webkit-box;
  display: -moz-box;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: row;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

//placeholder颜色
placeholder(color) {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color color
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color color
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color color
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color color
  }
}

//扩展点击区域
extend() {
  &:before {
    content ' '
    position absolute
    top -5px
    bottom -5px
    left -5px
    right -5px
  }
}

