@import "../../../../stylus/variable.styl"
.shop-outer-wrapper {
  position absolute
  top 0
  bottom 0px
  left 0
  width 100%
  .shop-content-wrapper {
    position absolute
    top 0
    bottom 100px
    left 0
    width 100%
    display flex
    flex-direction column
    .choose-condition-wrapper {
      display flex
      padding 0 20px
      overflow-x scroll
      .item-wrapper {
        flex 0 0 33.3%
        position relative
        height 88px
        line-height 60px
        text-align center
        .text {
          font-size 28px
          color #999999
          word-break keep-all
          vertical-align middle
        }
        .icon{
          margin-left 14px
          width 24px
          height 24px
          vertical-align middle
          transform rotate(90deg)
        }
        .line {
          display none
          position absolute
          left 50%
          margin-left -18px
          bottom 20px
          width 36px
          height 6px
          background-color $common-color
        }
        &.active {
          .text {
            font-size 32px
            color $common-color
            font-weight bold
          }
          .line {
            display block
          }
        }
      }
    }
    .header-wrapper {
      position absolute
      top 0
      bottom 0px
      left 0
      width 100%
      height 88px
      overflow hidden
      z-index 1
      background-color #fff
      font-size 0
      box-shadow 0 0 20px 0px #eeeeee
      transition height .2s linear
      &.topnav {
        height 176px
      }
      .search-wrapper {
        height 88px
        padding 14px 30px
        box-sizing border-box
        .inner-box {
          height 60px
          line-height 60px
          background-color #F2F2F2
          border-radius 60px
          .icon {
            margin auto 10px auto 30px
            width 32px
            height 32px
            vertical-align middle
          }
          .text {
            font-size 28px
            vertical-align middle
            color $sub-color
          }
        }
      }
      .topic-list {
        display flex
        flex-wrap nowrap
        padding 0 20px
        overflow-x scroll
        .topic {
          position relative
          padding 0 30px
          height 88px
          line-height 62px
          .text {
            font-size 28px
            color #999999
            word-break keep-all
          }
          .line {
            display none
            position absolute
            left 50%
            margin-left -18px
            bottom 20px
            width 36px
            height 6px
            background-color $common-color
          }
          &.active {
            .text {
              font-size 32px
              color $common-color
              font-weight bold
            }
            .line {
              display block
            }
          }
        }
      }
    }
    .content-wrapper {
      position absolute
      top 88px
      bottom 0px
      left 0
      width 100%
      overflow-y scroll
      z-index 0
      .ad-wrapper {
        display flex
        height 98px
        padding 5px 0
        box-sizing border-box
        background rgba(255, 180, 0, 0.1)
        font-size 0
        .icon-wrapper {
          flex 0 0 108px
          width 108px
          background-color #fff
          height 88px
          padding 10px 30px
          word-break break-word
          box-sizing border-box
          .text {
            font-size 24px
            color #fe7a7a
            font-weight bold
          }
        }
        .list-wrapper {
          flex 1
          .item {
            padding 12px 30px 12px 20px
            box-sizing border-box
            color #FFB400
            font-size 24px
            .high-light {
              color: #FE7A7A
            }
          }
        }
        .button-wrapper {
          flex 0 0 190px
          .button {
            margin-top 16px
            width 160px
            height 56px
            line-height 56px
            background-color #FFB400
            color #fff
            border-radius 56px
            font-size 24px
            font-weight bold
          }
        }
      }
      .shop-type-wrapper {
        padding 0 26px
        display flex
        height 344px
        flex-wrap wrap
        box-shadow 0 0 20px 0px #eeeeee
        .item-wrapper {
          flex 0 0 174px
          padding 24px 0
          height 172px
          border-left 1px solid #fff
          border-right 1px solid #fff
          box-sizing border-box
          text-align center
          border-radius 12px
          &.active {
            background-color #F7F7F7
          }
          .icon {
            width 86px
            height 86px
          }
          .text {
            font-size 24px
            color #999999
          }
        }
      }
      .choose-condition-wrapper {
        margin-top 20px
      }
      .loading-wrapper {
        padding 60px 0
        text-align center
        .icon {
          width 160px
        }
      }
    }
  }
}
